.card {
  min-width: 487px;
  min-height: 429.5px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--backdrop-filter-card);
  backdrop-filter: var(--backdrop-filter-blur);
  box-shadow: var(--box-shadow-card-primary), var(--box-shadow-card-secondary);
  cursor: pointer;
  overflow: clip;
  display: flex;
  justify-content: center;

  > img:hover {
    transform: scale(1.1);
    transition: transform ease-in-out 250ms;
  }

  > img {
    transform: scale(1);
    transition: transform ease-in-out 600ms;
    width: 90%;
  }
}
