#root {
  /* max-width: 1280px; */
  margin: 0;
  background-image: var(--background-img);
  background-size: cover;
  background-repeat: repeat-y;
}

.wrapper {
  min-height: 100dvh;
}

.card {
  flex: 1;
  flex-wrap: wrap;
  min-width: 300px;
  min-height: 300px;
  max-width: 375px;
  max-height: 375px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--backdrop-filter-card);
  backdrop-filter: var(--backdrop-filter-blur);
  box-shadow: var(--box-shadow-card-primary), var(--box-shadow-card-secondary);
  cursor: pointer;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;

  > img:hover {
    transform: scale(1.1);
    transition: transform ease-in-out 250ms;
  }

  > img {
    object-fit: cover;
    object-position: center;
    width: 80%;
    transform: scale(1);
    transition: transform ease-in-out 600ms;
  }
}

@media (max-width: 550px) {
  .card {
    min-width: 125px;
    min-height: 125px;
    border-radius: 20px;
  }
}

@media (max-width: 1100px) {
  .card {
    min-width: 250px;
    min-height: 250px;
    border-radius: 40px;
  }
}

main {
  width: 80%;
  margin: var(--space-xl) auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

@media (max-width: 550px) {
  main {
    gap: 20px;
  }
}

header {
  text-align: center;
  font-family: var(--font-pokemon-theme);
  font-size: var(--font-size-s);
  letter-spacing: 0.2rem;
  color: var(--font-color-yellow);
  padding-top: var(--space-s);
}

.boop {
  position: fixed;
  right: 0;
  bottom: -6px;
}

.scoreboard_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  > .scoreboard {
    display: inline-block;
    border-radius: var(--border-radius);
    background-color: var(--background-color-scorecard);
    backdrop-filter: blur(50px);
    padding: var(--space-s) var(--space-l);
    box-shadow: var(--box-shadow-scorecard-primary);

    > span {
      font-family: var(--font-pokemon-theme);
      color: var(--font-color-light-grey);

      &:last-of-type {
        margin-left: var(--space-xl);
      }
    }
  }
}
